div {
	width: 100px;
	height: 100px;
}

.main{
	position: absolute;
}

.squareblue {
	position: absolute;
	background-color: #0000ff;
	color: #ffffff;
}

.divScore{
	position: absolute;
	vertical-align: middle;
	width: 540px; 
	left: 238px; top: 590px;
}




.signature{
	position: absolute;
	width: 540px; 
	left: 0px; top: 550px;
}

.signature:hover{
	background-color: #0000ff;
	color: #ffffff;
}